<!--Top video and title-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora&display=swap">
<div class="bg-video">
    <video autoplay muted loop poster="" style="object-fit: cover; width: 100%; height: 100%;">
        <source src="assets/vid/waterfall.mp4" type="video/mp4">
        Sorry, your browser doesnt support the video tag
    </video>
    <div class="mask"></div>
    <div class="caption" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; width: 70%;">
        <h1 class="pageHeader"><strong>MRB.sim</strong></h1>
        <br>
        <h2 class="pageDesc">Mekong River Basin water pollution data simulator </h2>
        <h3 class="pageDesc2">Simulate economic climate and save results to publish</h3>
    </div>
</div>

<!--About-->
<div class="container-fluid" style="background-color: #8fbc58;">
    <h1>Site uses</h1>
    <p>This website uses data to genrate water quality data that could be used for economic purposes.
    It is a simulator that uses data from the Mekong River Basin to generate water quality data</p>
    <h1>Site functionality</h1>
    <p>Users can simulate water quality data and save the results to publish. The results can be saved privately so only the user can see them or they can be saved publicly so all users can see them</p>
    <p>There are 4 regions that can be selected in the create area and their water variables can be changed. If you click simulate on the navbar then either you can search the public templates and choose one or you can press the green plus in the bottom right hand corner to create a new template.</p>
</div>
